//Variables que van a ser utilizadas a lo largo del programa:

$primary: #f9eccc;
$secondary: #4e8098;
$white: white;
$dark: #062726;
$verde: #095256;

//Acciones
$confirmar: #08a045;
$cancelar: #ab3428;
$peligro: #f6e27f;
