.btn
{
    background-color: $white;
    color: $dark;
    font-size: 1rem;
    border: solid 0.1px $dark;
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;

    &:hover
    {
        cursor: pointer;            
    }
//**********************************************************************
    &.btn-primary
    {
        background-color: $primary;
        color: $white;

        &:hover
        {
            background-color: darken($color: $primary, $amount: 10);    
        }
    }
//**********************************************************************
    &.btn-secondary
    {
        background-color: $secondary;
        color: $white;

        &:hover
        {
            background-color: darken($color: $secondary, $amount: 10);    
        }
    }

    &.btn-delete
    {
        background-color: darken($color: $cancelar, $amount: 4);
        color: darken($color: $white, $amount: 2);
        font-size: 20px;

        &:hover
        {
            background-color: darken($color: $cancelar, $amount: 12);    
        }
    }

    &.btn-edit
    {
        background-color: darken($color: green, $amount: 5);
        color: darken($color: $white, $amount: 2);
        margin-top: 15px;
        width: 100px;
        padding: 5px;        

        &:hover
        {
            background-color: darken($color: green, $amount: 12);    
        }
    }

    &.btn-find
    {
        background-color: darken($color: $secondary, $amount: 5);
        color: darken($color: $white, $amount: 2);
        margin: auto;
        margin: 20px 10px 20px 10px;        
        padding: 5px;        

        &:hover
        {
            background-color: darken($color: $secondary, $amount: 12);    
        }
    }

    &.btn-form
    {
        background-color: darken($color: $secondary, $amount: 1);
        color: darken($color: $white, $amount: 2);   
        padding: 4px;
        margin-top: 15px;
        font-size: 20px;
      
        &:hover
        {
            background-color: darken($color: $secondary, $amount: 12);    
        }
    }
}