//Configuracion del NavBar

ul
{
    list-style: none;
    background-color: darken($color: $dark, $amount: 3);;
    padding: 0px;
    margin: 0px;
    border: 0px solid;

    p //Titulo
    {
    display: inline-block;
    padding: 14px;    
    margin: 0px;
    margin-right: 55px;
    border: 0px solid;
    background-color: darken($color: $dark, $amount: 15);
    color: $white;             
    }

    li //Box de los links
    {
    display: inline-block;    
    padding: 10px;
    margin: 15px 7px;
    border: 0px solid;
    background-color: darken($color: $dark, $amount: 15);

    &:hover
    {        
        box-shadow: 2px 2px 3px 1px rgb(7, 134, 184);
        text-decoration: none
    }
        a //Links
        {
            text-decoration: none;
            font-size: 19px;
            color: darken($color: $white, $amount: 10);
            color: $white;

            &:hover //Link Hover
            {
                //text-decoration: underline;
                text-decoration: none;
                color: darken($color: $white, $amount: 10)                
            }
        } //A
    } //LI
} //UL
